body{
  background-color: black;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.banner{
height: 70vh;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

main{
  text-align: center;
  margin-left: 25rem;
}

.form{
  position: absolute;
  top: 230px;
}

.form-title{
  color: white;
}

.myForm{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.input_search{
  width: 500px;
  height: 50px;
  border-radius: 9px;
  border: 0;
  padding-left: 10px;
  outline: none;
}

.search_btn{
  width: 200px;
  height: 40px;
  border-radius: 8px;
  border: 0;
  background-color: white;
  margin-top: 8px;
}

.search_btn:hover{
  background-color: black;
  color: white;
  cursor: pointer;
  border-color: white;
}

.movie-content{
  padding-top: 100px;
}

.film{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 30px;
  margin-top: 5em;
}

.poster img{
  width: 400px;
  height: 400px;
}

.movie-title{
  text-align: center;
}
.movie-overview{
  text-align: center;
}

.movie-film{
  text-align: center;
  color: #fff;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
